{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Welcome to Shibazon!</h2>
    <div class="row mt-4">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ product.name }}</h5>
                    <p class="card-text text-center">${{ product.price | round(2) }}</p>
                    <div class="d-flex justify-content-center">
                        <a href="{{ url_for('add_to_cart', product_id=product.id) }}"
                            class="btn btn-outline-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-between">
        {% if prev_url %}
        <a href="{{ prev_url }}" class="btn btn-outline-primary">Previous</a>
        {% else %}
        <button class="btn btn-outline-primary" disabled>Previous</button>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}" class="btn btn-outline-primary">Next</a>
        {% else %}
        <button class="btn btn-outline-primary" disabled>Next</button>
        {% endif %}
    </div>
</div>
{% endblock %}